<a href="https://colab.research.google.com/github/PietroCarvalho125/PA_2025/blob/main/Variaveis-e-OperadoresAritimeticos/variaveis_e_constantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#variaveis e constantes

In [ ]:
idade = 15
altura = 1.75
nome = "Pietro"
vai = True

In [ ]:
nomes =  ["Pietro","Juninho","Lucas"]
nomes2 = ("Pietro","Juninho","Lucas")
tudo = {nome:"Pietro",idade: 15,altura: 1.75}

In [ ]:
print(nome)
print(nomes)
print(nomes2)

Pietro
['Pietro', 'Juninho', 'Lucas']
('Pietro', 'Juninho', 'Lucas')

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [ ]:
print("O nome dele é:", nome, ",sua idade é:", idade,"anos", ",ele tem", altura,"metros de altura" )

O nome dele é: Pietro ,sua idade é: 15 anos ,ele tem 1.75 metros de altura

In [ ]:
nome = "Pietro"
idade = 15
print(f"nome: {nome}, idade: {idade} anos")

nome: Pietro, idade: 15 anos

#Area do Circulo

In [ ]:
PI = 3.14159
raio = float(input("digite o valor do raio do circulo: "))

digite o valor do raio do circulo: 7

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A area do circulo é {areacir}")

A area do circulo é 153.93791

#Area do quadrado

In [ ]:
lado = float(input("digite o valor do lado: "))
areaquadr = lado ** 2
print(f"a area do quadrado é: {areaquadr}")

digite o valor do lado: 8
a area do quadrado é: 64.0